##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.prefs
*.factorypath
*.classpath
hs_err_pid*

##############################
## Maven
##############################
./fourPolar-core/target/*
./fourPolar-io/target/*
./fourPolar-math/target/*
./fourPolar-viewModels/target/*
./fourPolar-ImageJGUI/target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


##############################
## Misc
##############################
/.settings
/.vscode
fourPolar-core/.settings
fourPolar-io/.settings
fourPolar-math/.settings
fourPolar-viewModels/.settings
fourPolar-ImageJGUI/.settings
fourPolar-ui/.project
